node_modules/
react/node_modules/
react/.DS_Store
react/dist/
wp-admin/
wp-includes/
wp-content/*
wp-content/cache/*
wp-content/index.php
!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/advanced-custom-fields-pro/
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/am2-headless/
.htaccess
/index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php